<div class="container crear-trabajadores">
    <div class="row align-items-center">
        <div class="col-lg-12 text-center titulos-principales">
            <h1>Crear Trabajadores</h1>
        </div>
    </div>

    <div class="formulario-crear">
        <form [formGroup]="crearTrabajadores" #formDir (ngSubmit)="crear(formDir)">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="documento" placeholder="Documento*" formControlName="documento">
                        <div *ngIf=" crearTrabajadores.controls['documento'].invalid && (crearTrabajadores.controls['documento'].dirty || crearTrabajadores.controls['documento'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearTrabajadores.controls['documento'].errors.required">El campo Documento es requerido</div>
                            <div *ngIf="crearTrabajadores.controls['documento'].errors.maxlength">El campo Documento debe tener máximo 10 carácteres</div>
                            <div *ngIf="crearTrabajadores.controls['documento'].errors.pattern">El campo Documento es tipo numérico</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombres*" formControlName="nombre">
                        <div *ngIf=" crearTrabajadores.controls['nombre'].invalid && (crearTrabajadores.controls['nombre'].dirty || crearTrabajadores.controls['nombre'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearTrabajadores.controls['nombre'].errors.required">El campo Nombres es requerido</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">  
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Apellidos*" id="apellido" formControlName="apellido">
                        <div *ngIf=" crearTrabajadores.controls['apellido'].invalid && (crearTrabajadores.controls['apellido'].dirty || crearTrabajadores.controls['apellido'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearTrabajadores.controls['apellido'].errors.required">El campo apellidos es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <select name="genero" class="form-control" id="genero" formControlName="genero">
                            <option value="" disabled selected>Genero*</option>
                            <option value="masculino"> Masculino </option>
                            <option value="femenino"> Femenino </option>
                            <option value="otro"> Otro </option>
                        </select>
                        <div *ngIf=" crearTrabajadores.controls['genero'].invalid && (crearTrabajadores.controls['genero'].dirty || crearTrabajadores.controls['genero'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearTrabajadores.controls['genero'].errors.required">El campo Genero es requerido</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Teléfono*" id="telefono" formControlName="telefono">
                        <div *ngIf=" crearTrabajadores.controls['telefono'].invalid && (crearTrabajadores.controls['telefono'].dirty || crearTrabajadores.controls['telefono'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearTrabajadores.controls['telefono'].errors.required">El campo Teléfono es requerido</div>
                            <div *ngIf="crearTrabajadores.controls['telefono'].errors.maxlength">El campo Teléfono debe tener máximo 10 carácteres</div>
                            <div *ngIf="crearTrabajadores.controls['telefono'].errors.pattern">El campo Teléfono es tipo numérico</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Correo electrónico*" id="email" formControlName="email">
                        <div *ngIf=" crearTrabajadores.controls['email'].invalid && (crearTrabajadores.controls['email'].dirty || crearTrabajadores.controls['email'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearTrabajadores.controls['email'].errors.required">El campo correo electrónico es requerido</div>
                            <div *ngIf="crearTrabajadores.controls['email'].errors.pattern">El campo correo electrónico no es de tipo E-mail</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Dirección*" id="direccion" formControlName="direccion">
                        <div *ngIf=" crearTrabajadores.controls['direccion'].invalid && (crearTrabajadores.controls['direccion'].dirty || crearTrabajadores.controls['direccion'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearTrabajadores.controls['direccion'].errors.required">El campo dirección es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Cargo*" id="cargo" formControlName="cargo">
                        <div *ngIf=" crearTrabajadores.controls['cargo'].invalid && (crearTrabajadores.controls['cargo'].dirty || crearTrabajadores.controls['cargo'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearTrabajadores.controls['cargo'].errors.required">El campo Cargo es requerido</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <select name="obra" class="form-control" id="obra" formControlName="obra">
                            <option value="" disabled selected>Obra*</option>
                            <option value="obra1"> Obra 1 </option>
                            <option value="obra2"> Obra 2 </option>
                        </select>
                    </div>
                    <div *ngIf=" crearTrabajadores.controls['obra'].invalid && (crearTrabajadores.controls['obra'].dirty || crearTrabajadores.controls['obra'].touched)" class="alert alert-danger formulario-error">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <select name="activo" class="form-control" id="activo" formControlName="activo">
                            <option value="" disabled selected>activo*</option>
                            <option value="1"> Activo </option>
                            <option value="0"> Inactivo </option>
                        </select>
                        <div *ngIf=" crearTrabajadores.controls['activo'].invalid && (crearTrabajadores.controls['activo'].dirty || crearTrabajadores.controls['activo'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearTrabajadores.controls['activo'].errors.required">El campo activo es requerido</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row botones-creacion">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12 text-right">
                    <button type="submit" class="btn btn-success"> Crear </button>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12 text-left">
                    <button type="button" (click)="resetear()" class="btn btn-danger"> Cancelar </button>
                </div>
            </div>
        </form>
    </div>
</div>