<div class="container consultar-trabajadores">
    <div class="row align-items-center">
        <div class="col-lg-9 col-sm-6 titulos-principales">
            <h1>Consultar trabajadores</h1>
        </div>
        <div class="col-lg-3 col-sm-6 text-right titulos-principales">
            <div>
                <a [routerLink]="['/crear-trabajadores']" routerLinkActive="router-link-active" class="cursor-pointer btn btn-primary btn-texto">
                   Crear trabajador
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 pt-4 pb-4">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">#</th>
                            <th class="text-center" scope="col">Nombre</th>
                            <th class="text-center" scope="col">Apellido</th>
                            <th class="text-center" scope="col">Correo</th>
                            <th class="text-center" scope="col">Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let trabajador of trabajadoresLista, let i = index">
                            <th class="text-center" scope="row">{{ i + 1}}</th>
                            <td class="text-center">
                                {{ trabajador.nombre}}
                            </td>
                            <td class="text-center">{{ trabajador.apellido}}</td>
                            <td class="text-center">{{ trabajador.email}}</td>
                            <td class="text-center">
                                <a [routerLink]="['/modificar-trabajador', trabajador.documento]" routerLinkActive="router-link-active" class="cursor-pointer btn btn-success btn-texto"> <i class="far fa-edit" style="color: #ffffff;"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-between contenedor-paginador p-2">
                <ngb-pagination class="centrar-pagination" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refrescarTrabajadores()">
                </ngb-pagination>

                <select class="custom-select centrar-pagination" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refrescarTrabajadores()">
                    <option [ngValue]="5">5 trabajadores por página</option>
                    <option [ngValue]="10">10 trabajadores por página</option>
                    <option [ngValue]="15">15 trabajadores por página</option>
                    </select>
            </div>
        </div>
    </div>
</div>
