<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-12 text-center titulos-principales">
            <h1>Bienvenido al Sistema Control de Obra</h1>
        </div>
    </div>
    <div class="texto-bienvenida">

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 box-contenido">
                <div class="caja-interna">
                    <i class="far fa-user azul-claro"></i>
                    <h2> Usuarios </h2>
                    <p>
                        Módulo para la gestión de los usuarios del sistema.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 box-contenido">
                <div class="caja-interna">
                    <i class="far fa-id-badge naranja-claro"></i>
                    <h2> Clientes (Constructores) </h2>
                    <p>
                        Módulo para el registro de los constructores asociados a las Obras.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 box-contenido">
                <div class="caja-interna">
                    <i class="far fa-building rojo-claro"></i>
                    <h2> Avance de Obra </h2>
                    <p>
                        Módulo para registrar el seguimiento y control de Obras.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 box-contenido">
                <div class="caja-interna">
                    <i class="far fa-check-square morado-claro"></i>
                    <h2> Inventarios </h2>
                    <p>
                        Módulo para el registro de proveedores y materiales utilizados en las Obras.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 box-contenido">
                <div class="caja-interna">
                    <i class="far fa-address-card verde-claro"></i>
                    <h2> Gestión de Trabajadores </h2>
                    <p>
                        Módulo para el registro de trabajadores asociados a las Obras.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 box-contenido">
                <div class="caja-interna">
                    <i class="far fa-file-alt azul-claro2"></i>
                    <h2> Reportes </h2>
                    <p>
                        Módulo para la visualización y generación de reportes de seguimiento a las Obras.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>