<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-12 text-center titulos-principales">
            <h1>Bienvenido al Sistema Control de Obra</h1>
        </div>
    </div>
    <div class="texto-bienvenida">

        <div class="row">
            <div class="col-4 box-contenido">
                <div class="caja-interna">
                    <i class="far fa-user azul-claro"></i>
                    <h2> Title principal </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero erat, egestas.
                    </p>
                </div>
            </div>
            <div class="col-4 box-contenido">
                <div class="caja-interna">
                    <i class="far fa-id-badge naranja-claro"></i>
                    <h2> Title principal </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero erat, egestas.
                    </p>
                </div>
            </div>
            <div class="col-4 box-contenido">
                <div class="caja-interna">
                    <i class="far fa-building rojo-claro"></i>
                    <h2> Title principal </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero erat, egestas.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4 box-contenido">
                <div class="caja-interna">
                    <i class="far fa-check-square morado-claro"></i>
                    <h2> Title principal </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero erat, egestas.
                    </p>
                </div>
            </div>
            <div class="col-4 box-contenido">
                <div class="caja-interna">
                    <i class="far fa-address-card verde-claro"></i>
                    <h2> Title principal </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero erat, egestas.
                    </p>
                </div>
            </div>
            <div class="col-4 box-contenido">
                <div class="caja-interna">
                    <i class="far fa-file-alt azul-claro2"></i>
                    <h2> Title principal </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero erat, egestas.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>