<div class="container crear-usuarios">
    <div class="row align-items-center">
        <div class="col-lg-12 text-center titulos-principales">
            <h1>Crear usuario</h1>
        </div>
    </div>

    <div class="formulario-crear">
        <form [formGroup]="crearUsuarios" #formDir (ngSubmit)="crear(formDir)">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre*" formControlName="nombre">
                        <div *ngIf=" crearUsuarios.controls['nombre'].invalid && (crearUsuarios.controls['nombre'].dirty || crearUsuarios.controls['nombre'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearUsuarios.controls['nombre'].errors.required">El campo Nombres es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Apellidos*" id="apellido" formControlName="apellido">
                        <div *ngIf=" crearUsuarios.controls['apellido'].invalid && (crearUsuarios.controls['apellido'].dirty || crearUsuarios.controls['apellido'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearUsuarios.controls['apellido'].errors.required">El campo Apellidos es requerido</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="documento" placeholder="Documento*" formControlName="documento">
                        <div *ngIf=" crearUsuarios.controls['documento'].invalid && (crearUsuarios.controls['documento'].dirty || crearUsuarios.controls['documento'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearUsuarios.controls['documento'].errors.required">El campo Documento es requerido</div>
                            <div *ngIf="crearUsuarios.controls['documento'].errors.maxlength">El campo Documento debe tener máximo 10 carácteres</div>
                            <div *ngIf="crearUsuarios.controls['documento'].errors.pattern">El campo Documento es tipo numérico</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password*" id="password" formControlName="password">
                        <div *ngIf=" crearUsuarios.controls['password'].invalid && (crearUsuarios.controls['password'].dirty || crearUsuarios.controls['password'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearUsuarios.controls['password'].errors.required">El campo Apellidos es requerido</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <select name="genero" class="form-control" id="genero" formControlName="genero">
                            <option value="" disabled selected>Genero*</option>
                            <option value="masculino"> Masculino </option>
                            <option value="femenino"> Femenino </option>
                            <option value="otro"> Otro </option>
                        </select>
                        <div *ngIf=" crearUsuarios.controls['genero'].invalid && (crearUsuarios.controls['genero'].dirty || crearUsuarios.controls['genero'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearUsuarios.controls['genero'].errors.required">El campo Genero es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Teléfono*" id="telefono" formControlName="telefono">
                        <div *ngIf=" crearUsuarios.controls['telefono'].invalid && (crearUsuarios.controls['telefono'].dirty || crearUsuarios.controls['telefono'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearUsuarios.controls['telefono'].errors.required">El campo Teléfono es requerido</div>
                            <div *ngIf="crearUsuarios.controls['telefono'].errors.maxlength">El campo Teléfono debe tener máximo 10 carácteres</div>
                            <div *ngIf="crearUsuarios.controls['telefono'].errors.pattern">El campo Teléfono es tipo numérico</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Correo electrónico*" id="email" formControlName="email">
                        <div *ngIf=" crearUsuarios.controls['email'].invalid && (crearUsuarios.controls['email'].dirty || crearUsuarios.controls['email'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearUsuarios.controls['email'].errors.required">El campo Correo electrónico es requerido</div>
                            <div *ngIf="crearUsuarios.controls['email'].errors.pattern">El campo Correo electrónico no es de tipo E-mail</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <select name="activo" class="form-control" id="activo" formControlName="activo">
                            <option value="" disabled selected>Estado*</option>
                            <option value="1"> Activo </option>
                            <option value="0"> Inactivo </option>
                        </select>
                        <div *ngIf=" crearUsuarios.controls['activo'].invalid && (crearUsuarios.controls['activo'].dirty || crearUsuarios.controls['activo'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="crearUsuarios.controls['activo'].errors.required">El campo Estado es requerido</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <select name="rol" class="form-control" id="rol" formControlName="rol">
                            <option value="" disabled selected>Rol*</option>
                            <option value="administrador"> Administrador </option>
                            <option value="jefe de obra"> Jefe de Obra </option>
                            <option value="supervisor "> Supervisor  </option>
                            <option value="tecnico "> Técnico  </option>
                        </select>
                    </div>
                    <div *ngIf=" crearUsuarios.controls['rol'].invalid && (crearUsuarios.controls['rol'].dirty || crearUsuarios.controls['rol'].touched)" class="alert alert-danger formulario-error">
                        <div *ngIf="crearUsuarios.controls['rol'].errors.required">El campo Rol es requerido</div>
                    </div>
                </div>
            </div>

            <div class="row botones-creacion">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12 text-right">
                    <button type="submit" class="btn btn-success"> Crear </button>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12 text-left">
                    <button type="button" (click)="resetear()" class="btn btn-danger"> Cancelar </button>
                </div>
            </div>

        </form>
    </div>

</div>