<div class="container crear-materiales">
    <div class="row align-items-center">
        <div class="col-lg-12 text-center titulos-principales">
            <h1>Modificar Materiales</h1>
        </div>
    </div>

    <div class="formulario-crear">
        <form [formGroup]="modificarMateriales" #formDir (ngSubmit)="modificar(formDir)">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="codigo" placeholder="Código*" formControlName="codigo">
                        <div *ngIf=" modificarMateriales.controls['codigo'].invalid && (modificarMateriales.controls['codigo'].dirty || modificarMateriales.controls['codigo'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="modificarMateriales.controls['codigo'].errors.required">El campo codigo es requerido</div>
                            <div *ngIf="modificarMateriales.controls['codigo'].errors.maxlength">El campo codigo debe tener máximo 10 carácteres</div>
                            <div *ngIf="modificarMateriales.controls['codigo'].errors.pattern">El campo codigo es tipo numérico</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Referencia*" id="referencia" formControlName="referencia">
                        <div *ngIf=" modificarMateriales.controls['referencia'].invalid && (modificarMateriales.controls['referencia'].dirty || modificarMateriales.controls['referencia'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="modificarMateriales.controls['referencia'].errors.required">El campo referencia es requerido</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="unidadMedida" placeholder="Unidad Medida*" formControlName="unidadMedida">
                        <div *ngIf=" modificarMateriales.controls['unidadMedida'].invalid && (modificarMateriales.controls['unidadMedida'].dirty || modificarMateriales.controls['unidadMedida'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="modificarMateriales.controls['unidadMedida'].errors.required">El campo Unidad de Medida es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Precio*" id="precio" formControlName="precio">
                        <div *ngIf=" modificarMateriales.controls['precio'].invalid && (modificarMateriales.controls['precio'].dirty || modificarMateriales.controls['precio'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="modificarMateriales.controls['precio'].errors.required">El campo precio es requerido</div>
                            <div *ngIf="modificarMateriales.controls['precio'].errors.maxlength">El campo precio debe tener máximo 10 carácteres</div>
                            <div *ngIf="modificarMateriales.controls['precio'].errors.pattern">El campo precio es tipo numérico</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Cantidad*" id="cantidad" formControlName="cantidad">
                        <div *ngIf=" modificarMateriales.controls['cantidad'].invalid && (modificarMateriales.controls['cantidad'].dirty || modificarMateriales.controls['cantidad'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="modificarMateriales.controls['cantidad'].errors.required">El campo cantidad es requerido</div>
                            <div *ngIf="modificarMateriales.controls['cantidad'].errors.maxlength">El campo cantidad debe tener máximo 5 carácteres</div>
                            <div *ngIf="modificarMateriales.controls['cantidad'].errors.pattern">El campo cantidad es tipo numérico</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <select name="activo" class="form-control" id="activo" formControlName="activo">
                            <option value="" disabled selected>Estado*</option>
                            <option value="true"> Activo </option>
                            <option value="false"> Inactivo </option>
                        </select>
                        <div *ngIf=" modificarMateriales.controls['activo'].invalid && (modificarMateriales.controls['activo'].dirty || modificarMateriales.controls['activo'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="modificarMateriales.controls['activo'].errors.required">El campo Estado es requerido</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <select class="form-control" id="proveedor" formControlName="proveedor">
                            <option value="" disabled selected>Proveedor*</option>
                            <option *ngFor="let proveedor of objListaProveedor" [value]="proveedor._id">
                                {{ proveedor.nombre }}
                            </option>
                        </select>
                        <div *ngIf=" modificarMateriales.controls['proveedor'].invalid && (modificarMateriales.controls['proveedor'].dirty || modificarMateriales.controls['proveedor'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="modificarMateriales.controls['proveedor'].errors.required">El campo proveedor es requerido</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row botones-creacion">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12 text-right">
                    <button type="submit" class="btn btn-success"> Crear </button>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12 text-left">
                    <button type="button" (click)="resetear()" class="btn btn-danger"> Cancelar </button>
                </div>
            </div>

        </form>
    </div>

</div>