<div class="container crear-usuarios">
    <div class="row align-items-center">
        <div class="col-lg-12 text-center titulos-principales">
            <h1>Modificar Obra</h1>
        </div>
    </div>

    <div class="formulario-crear">
        <form [formGroup]="modificarObra" #formDir="ngForm" (ngSubmit)="modificar(formDir)">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="codigo" placeholder="Código de la obra*" formControlName="codigo">
                        <div *ngIf=" modificarObra.controls['codigo'].invalid && (modificarObra.controls['codigo'].dirty || modificarObra.controls['codigo'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="modificarObra.controls['codigo'].errors.required">El campo Código de la obra es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="identObra" placeholder="Identidad de la obra*" formControlName="identObra">
                        <div *ngIf=" modificarObra.controls['identObra'].invalid && (modificarObra.controls['identObra'].dirty || modificarObra.controls['identObra'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="modificarObra.controls['identObra'].errors.required">El campo Identidad de la obra es requerido</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="nombreObra" placeholder="Nombre de la obra*" formControlName="nombreObra">
                        <div *ngIf=" modificarObra.controls['nombreObra'].invalid && (modificarObra.controls['nombreObra'].dirty || modificarObra.controls['nombreObra'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="modificarObra.controls['nombreObra'].errors.required">El campo Nombre de la obra es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <textarea rows="3" class="form-control" id="descripcion" placeholder="Descripción de la obra*" formControlName="descripcion"></textarea>
                        <div *ngIf=" modificarObra.controls['descripcion'].invalid && (modificarObra.controls['descripcion'].dirty || modificarObra.controls['descripcion'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="modificarObra.controls['descripcion'].errors.required">El campo Descripción de la obra es requerido</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group calendario-position">
                        <input type="text" class="form-control" id="fechaInicio" (dateSelect)="fechaInicial($event)" placeholder="Fecha de inicio*" formControlName="fechaInicio" ngbDatepicker #inicio="ngbDatepicker">
                        <div class="input-group-append calendar-absolute">
                            <button class="btn btn-outline-secondary calendar" (click)="inicio.toggle()" type="button"> <i class="far fa-calendar-alt"></i> </button>
                        </div>
                        <div *ngIf=" modificarObra.controls['fechaInicio'].invalid && (modificarObra.controls['fechaInicio'].dirty || modificarObra.controls['fechaInicio'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="modificarObra.controls['fechaInicio'].errors.required">El campo Fecha de inicio es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group calendario-position">
                        <input type="text" class="form-control" id="fechaFin" (dateSelect)="fechaFinal($event)" placeholder="Fecha fin*" formControlName="fechaFin" ngbDatepicker #fin="ngbDatepicker">
                        <div class="input-group-append calendar-absolute">
                            <button class="btn btn-outline-secondary calendar" (click)="fin.toggle()" type="button"> <i class="far fa-calendar-alt"></i> </button>
                        </div>
                        <div *ngIf=" modificarObra.controls['fechaFin'].invalid && (modificarObra.controls['fechaFin'].dirty || modificarObra.controls['fechaFin'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="modificarObra.controls['fechaFin'].errors.required">El campo Fecha fin es requerido</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group input-group">
                        <div class="custom-file">
                            <input type="file" class="cursor-pointer form-control custom-file-input" id="inputGroupFile01" formControlName="regPlano" (change)="fileInputChange($event.target.files)" aria-describedby="inputGroupFileAddon01" accept=".pdf">
                            <label class="custom-file-label" for="inputGroupFile01">Registrar plano</label>
                        </div>
                    </div>
                    <div *ngIf=" modificarObra.controls['regPlano'].invalid && formDir.submitted" class="alert mt-4 alert-danger formulario-error">
                        <div *ngIf="modificarObra.controls['regPlano'].errors.required">El campo Registrar plano es requerido</div>
                    </div>
                    <div *ngIf="uploadFileEvent" class="alert mt-4 alert-danger formulario-error">
                        <div *ngIf="uploadFileEvent">El campo Registrar plano sólo acepta formato .pdf</div>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12">
                    <div class="form-group">
                        <select name="activo" class="form-control" id="activo" formControlName="activo">
                            <option value="" disabled selected>Estado*</option>
                            <option value="1"> Activo </option>
                            <option value="0"> Inactivo </option>
                        </select>
                        <div *ngIf=" modificarObra.controls['activo'].invalid && (modificarObra.controls['activo'].dirty || modificarObra.controls['activo'].touched)" class="alert alert-danger formulario-error">
                            <div *ngIf="modificarObra.controls['activo'].errors.required">El campo Estado es requerido</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row botones-creacion">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12 text-right">
                    <button type="submit" class="btn btn-success"> Crear </button>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-12 text-left">
                    <button type="button" (click)="resetear()" class="btn btn-danger"> Cancelar </button>
                </div>
            </div>

        </form>
    </div>

</div>