<div class="sidebar-up">
    <div class="sidebar-into">
        <div class="logo">
            <img src="assets/uv-dashboard.png" alt="uv_dashboard">
        </div>
    </div>

    <div class="lista">
        <ul>
            <li>
                <a href="#" class="cursor-pointer">
                    <i class="far fa-user azul-claro"></i>
                    <p>Usuarios</p>
                </a>
            </li>
            <li>
                <a href="#" class="cursor-pointer">
                    <i class="far fa-id-badge naranja-claro"></i>
                    <p>Clientes</p>
                </a>
            </li>
            <li>
                <a href="#" class="cursor-pointer">
                    <i class="far fa-building rojo-claro"></i>
                    <p>Avances de obra</p>
                </a>
            </li>
            <li>
                <a href="#" class="cursor-pointer">
                    <i class="far fa-building rojo-claro"></i>
                    <p>Inventario</p>
                </a>
            </li>
        </ul>
    </div>
</div>