<div class="sidebar-up">
    <div class="sidebar-into">
        <div class="logo">
            <img src="assets/uv-dashboard.png" alt="uv_dashboard">
        </div>
        <div (click)="opensidebar()" class="cerrar-sidebarrp">
            <i class="fas fa-angle-left"></i>
        </div>
    </div>

    <div class="lista">
        <ul>
            <li>
                <a [routerLink]="['../usuarios']" routerLinkActive="router-link-active" class="cursor-pointer">
                    <i class="far fa-user azul-claro"></i>
                    <p>Usuarios</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['../clientes']" class="cursor-pointer">
                    <i class="far fa-id-badge naranja-claro"></i>
                    <p>Clientes</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['../avance-obra']" class="cursor-pointer" href="#" class="cursor-pointer">
                    <i class="far fa-building rojo-claro"></i>
                    <p>Avances de obra</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['../proveedores']" routerLinkActive="router-link-active" class="cursor-pointer">
                    <i class="far fa-check-square morado-claro"></i>
                    <p>Proveedores</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['../materiales']" routerLinkActive="router-link-active" class="cursor-pointer">
                    <i class="far fa-check-square azul-claro"></i>
                    <p>Materiales</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['../trabajadores']" routerLinkActive="router-link-active" class="cursor-pointer">
                    <i class="far fa-address-card verde-claro"></i>
                    <p>Trabajadores</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['../reportes']" class="cursor-pointer">
                    <i class="far fa-file-alt azul-claro2"></i>
                    <p>Reportes</p>
                </a>
            </li>
        </ul>
    </div>
</div>