/* You can add global styles to this file, and also import other style files */

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import "~bootstrap/scss/bootstrap";
body,
* {
    font-family: 'Open Sans', sans-serif;
    color: #0f0f0f;
}

.titulos-principales {
    h1 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: -1px;
    }
}

a {
    -webkit-transition: all 0.2 linear;
    transition: all 0.2 linear;
    &:hover {
        color: #000000;
        -webkit-transition: all 0.2 linear;
        transition: all 0.2 linear;
    }
}

.sidebar {
    background-color: #fff;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 1000;
    width: 80px;
    border-right: 1px solid rgba(0, 0, 0, .07);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    .sidebar-into {
        position: relative;
        text-align: center;
        padding: 7px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, .07);
    }
    &.opensidebar {
        width: 280px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        .sidebar-up {
            .lista {
                p {
                    opacity: 1 !important;
                }
            }
        }
    }
}

.contenido-completo {
    padding-left: 280px;
    min-height: 100vh;
    background-color: #f9fafb;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &.collapsedSidebar {
        padding-left: 80px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
}

.dashboard {
    .body-dash {
        padding: 50px 0px;
    }
}

.btn-texto {
    font-weight: 600;
}

.header {
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    p {
        margin-bottom: 0px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.cerrar-sidebarrp {
    display: none;
}

.table {
    td {
        vertical-align: middle;
    }
    th {
        vertical-align: middle;
    }
}

@media (max-width: 991px) {
    .sidebar {
        margin-left: -280px;
        &.opensidebar {
            width: 280px;
            margin-left: 0px;
        }
    }
    .contenido-completo {
        padding-left: 0;
        &.collapsedSidebar {
            padding-left: 0;
        }
    }
    .cerrar-sidebarrp {
        display: block;
        position: absolute;
        top: 50%;
        right: 25px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 20px;
        i {
            color: #72777a;
        }
    }
}

@media (max-width: 780px) {
    .titulos-principales {
        h1 {
            font-size: 22px;
            letter-spacing: 0;
        }
    }
}

@media (max-width: 580px) {
    .titulos-principales {
        text-align: center !important;
        &:last-child {
            padding-bottom: 5px;
        }
    }
}

@media (max-width: 480px) {
    .contenedor-paginador {
        display: block !important;
        text-align: center;
        .pagination {
            justify-content: center;
        }
    }
}